In [1]:
import pandas as pd
import numpy as np

from scipy import stats

In [10]:
beml = pd.read_csv('beml_df.csv')
glaxo = pd.read_csv('glaxo_df.csv')

In [3]:
beml.head()

         Date      Date.1    Close      gain
0  2010-01-05  2010-01-05  1134.60 -0.000881
1  2010-01-06  2010-01-06  1139.60  0.004407
2  2010-01-07  2010-01-07  1144.15  0.003993
3  2010-01-08  2010-01-08  1144.05 -0.000087
4  2010-01-11  2010-01-11  1137.00 -0.006162

In [11]:
beml.drop('Date.1',axis=1,inplace=True)

In [12]:
glaxo.drop('Date.1',axis=1,inplace=True)

In [13]:
beml.head()

         Date    Close      gain
0  2010-01-05  1134.60 -0.000881
1  2010-01-06  1139.60  0.004407
2  2010-01-07  1144.15  0.003993
3  2010-01-08  1144.05 -0.000087
4  2010-01-11  1137.00 -0.006162

In [14]:
glaxo.head()

         Date    Close      gain
0  2010-01-05  1616.80 -0.005444
1  2010-01-06  1638.50  0.013422
2  2010-01-07  1648.70  0.006225
3  2010-01-08  1639.80 -0.005398
4  2010-01-11  1629.45 -0.006312

## CI - Normal Distribution

* stats.norm.interval(CI,loc=mean,scale=std dev)

In [18]:
# 95 % CI - BEML

beml_ci = stats.norm.interval(0.95,beml['gain'].mean(),beml['gain'].std())

print('95% Confidence interval for BEML Gain ',np.round((beml_ci),4))

95% Confidence interval for BEML Gain  [-0.0515  0.0521]

In [23]:
# 95% CI - GLAXO

glaxo_ci = stats.norm.interval(0.95,glaxo['gain'].mean(),glaxo['gain'].std())

print('95% Confidence interval for Glaxo Gain',np.round((glaxo_ci),4))

95% Confidence interval for Glaxo Gain [-0.0258  0.0266]

In [ ]:
# BEML HAS WIDER CI COMPARED TO GLAXO --- BEML HAS HIGHER VARIANCE

## CI - T Distribution

* stats.t.interval(CI,df,loc=mean,scale=std dev)

In [24]:
beml.shape

(1738, 3)

In [25]:
glaxo.shape

(1738, 3)

In [26]:
# 95 % CI - BEML

beml_t_ci= stats.t.interval(0.95,1737,beml['gain'].mean(),beml['gain'].std())

print('95% Confidence interval - T distribution for BEML Gain ',np.round((beml_t_ci),4))

95% Confidence interval - T distribution for BEML Gain  [-0.0516  0.0521]

In [27]:
# 95% CI - Glaxo

glaxo_t_ci = stats.t.interval(0.95,1737,glaxo['gain'].mean(),glaxo['gain'].std())

print('95% Confidence interval - T distribution for BEML Gain ',np.round((glaxo_t_ci),4))

95% Confidence interval - T distribution for BEML Gain  [-0.0258  0.0266]

### General Practice for CI

In [28]:
stats.norm.interval(0.95,12.1,3)

(6.2201080463798375, 17.97989195362016)

In [29]:
stats.t.interval(0.95,1000,12.1,3)

(6.212982757520777, 17.987017242479222)

In [30]:
# as sample size is large we get very close approximation of t to Std Normal

In [31]:
x=[10,27,28,16,19,16,29,49,51,53]
sigma=10

x_mean=np.mean(x)

In [32]:
stats.norm.interval(0.95,x_mean,sigma)

(10.200360154599462, 49.39963984540054)

In [33]:
stats.norm.interval(0.90,x_mean,sigma)

(13.351463730485271, 46.24853626951472)

In [34]:
x=[10,27,28,16,19,16,29,49,51,53]
x_std=np.std(x)
x_mean=np.mean(x)

In [35]:
stats.norm.interval(0.9,x_mean,x_std)

(5.085561098892395, 54.514438901107596)

In [36]:
stats.t.interval(0.9,31,x_mean,x_std)

(4.3243012307049895, 55.27569876929502)